<%- include ('partials/header'); -%> 
<% var total=0; %>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-7">
          <div class="bg-white text-dark">
            <p class="h1 d-flex justify-content-center">My Cart (<%= currentuser.cart.length %>)</p><br>
            <hr class="border border-secondary">
            <% if(currentuser.cart.length<1) {%>
              <div class="container text-center">
              <h1 class="text-danger display-4 text-center">Your Cart is Empty!!!</h1><br><br>
              <h2 class="text-info">To see amazing deals and products browse through our catalogue</h2><br>
              <a href="/home" class="btn btn-success btn-lg text-white text-center ">BROWSE NOW</a>
            </div>
            <% } %>
            <% user.cart.forEach((product, index)=>{ %>
              <% var c=0 %>
              <% var flag=0 %>
              <% for(var i=0; i< currentuser.cart.length ; i++){ %>
                <% if(currentuser.cart[i].equals(product._id)) {%>
                 <% c=c+1; }%>
              <% } %>
            <% for(var j=index-1 ; j>=0 ; j--){ %>
             <% if(currentuser.cart[j].equals(currentuser.cart[index])){ %>
                <% flag=1 %>
              <% }} %>

            <% if(flag==0) { %>
            <div class="row bg m-5">
              <!-- <div class="col-md-8"> -->
                <div>
                    <img src="<%= product.image %>" alt="" width="300" height="300">
                </div>
                <div class="ml-5">
                    <h3><%= product.name %></h3>
                    <h6><%= product.title %></h6>
                    <h3>Rs. <%= product.price %></h3> <br>
                    <a href="/cart/<%= product._id %>/remove/<%= currentuser._id %>" class="btn btn-xs btn-light rounded-circle">-</a><input type="text" class="w-25 text-center" value="<%= c %>"><a href="/cart/<%= product._id %>/<%= currentuser._id %>" class="btn btn-light rounded-circle">+</a><br><br>
                    <a href="/home/<%= product._id %>" class="btn btn-lg btn-primary">CHECKOUT</a>&nbsp;&nbsp;
                    <a class="btn btn-lg btn-danger" href="/cart/remove/<%= product._id %>/<%= currentuser._id %>">REMOVE</a>
                </div>
            </div>
            <hr class="border border-secondary">
            <% } %> 
            <% total = total + product.price %>
            <% }) %>
          </div>
        </div>
        <% if(currentuser.cart.length) {%>
        <div class="col-md-3 bg-white text-dark h-25 sticky-top arpit">
          <p class="h1 d-flex justify-content-center">Price Details</p>
          <hr>
          <div class="d-flex justify-content-between">
            <p class="h4 ">Product Price(<%=currentuser.cart.length %> items)</p><p class="h4 ">Rs. <%= total %></p>
          </div>
          <div class="d-flex justify-content-between">
            <p class="h4 ">Delivery Charge</p><span style="font-size: 30px;">+</span><p class="h4 ">Rs. 30</p>
          </div>
          <hr>
          <div class="d-flex justify-content-between">
            <p class="h3 ">Total Amount</p><p class="h3 text-success">Rs. <%= total + 30 %></p>
          </div><hr>
          <div class="row p-3">
            <div class="col-md-6"><a href="/home" class="btn btn-warning btn-lg text-white">EXPLORE MORE</a></div>
            <div class="col-md-6"><a href="/placeorder/<%= currentuser._id %>" class="btn btn-danger btn-lg text-white">PLACE ORDER</a></div>
          </div>  
        </div>
        <% } %>
      </div>
    </div><br><br><br><br>
    

<%- include ('partials/footer'); -%>    
    