<%- include('partials/header'); -%>
<section class="container-fluid">
<div class="bg-info text-white">
    <div class="row">
        <div class="col-md-3"><img src="<%= products[0].image %>" height="200" width="300" alt="image"></div>
        <div class="col-md-6"><h2 class="display-3 text-center font-weight-bold pt-4 name"><%= products[0].category %>s</h2></div>
        <div class="col-md-3 mr-0"><img src="<%= products[1].image %>" height="200" width="350" alt="image"></div>
    </div>
</div>
    <div class="row mt-5">
        <div class="col-md-2">
            <h1 class="text-center text-info">CATAGORIES</h1>
            <div class="list-group form sticky-top">
                <a href="/catalogue/Mobile" class="list-group-item text-white bg-info">MOBILES</a>
                <a href="/catalogue/Laptop" class="list-group-item text-info">LAPTOPS</a>
                <a href="/catalogue/Television" class="list-group-item text-info">TELEVISION</a>
                <a href="/catalogue/Washing_Machine" class="list-group-item text-info">WASHING MACHINES</a>
                <a href="/catalogue/Kitchen_Appliances" class="list-group-item text-info">KITCHEN APPLIANCES</a>
                <a href="/catalogue/Kitchen_Storage" class="list-group-item text-info">KITCHEN STORAGE</a>
                <a href="/catalogue/Men" class="list-group-item text-info">MEN CLOTHING</a>
                <a href="/catalogue/Women" class="list-group-item text-info">WOMEN CLOTHING</a>
                <a href="/catalogue/Kids" class="list-group-item text-info">KIDS CLOTHING</a>
                <a href="/catalogue/Sports" class="list-group-item text-info">SPORTS</a>
                <a href="/catalogue/Books" class="list-group-item text-info">BOOKS</a>
                <a href="#" class="list-group-item text-info">MORE     >></a>
            </div>
        </div>
        <div class="col-md-9 ml-5">
            <h1 class="text-center text-info display-4">CATALOGS</h1><hr>
            <div class="row">
               <% products.forEach((product)=>{ %>
            <div class="col-md-3 mt-5">
                <div class="card">
                    <% if(currentuser && currentuser.isAdmin){ %>
                        <div class="d-flex">
                        <a class="btn btn-light" href="/home/<%= product._id%>/update"><i class="fa fa-pencil fa text-dark"></i></a>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                        <form action="/home/delete/<%= product._id%>?_method=DELETE" method="POST">
                    <button class="btn btn-light"><i class="fa fa-trash text-dark" style="cursor: pointer;"></i></button>
                        </form>
                    </div>
                      <% } %>
                    <img class="card-img-top" src="<%= product.image %>" height="200" alt="Card image cap">
                    <div class="card-body">
                    <h4><%= product.name %></h4>
                    <h6><%= product.title %></h6>
                    <p class="card-text"></p>
                    <h2>Rs. <%= product.price %></h2>
                    <a href="/home/<%= product._id %>" class="btn btn-info ml-4">View Product</a>&nbsp;&nbsp;
                    </div>
                    </div>
            </div>
            <% }); %>
        </div>
    </div>

</section><br><br><br><br><br><br>

<%- include('partials/footer'); -%>