<%- include ('partials/header'); -%>
<h1 class="text-center display-3">Edit Profile</h1>
<form class="container" action="/edit/<%=key %>/<%= currentuser._id %>?_method=PUT" method="POST">
<table class="table table-hover table-striped">
    <tr>
        <th>NAME</th><td></td><td></td>
        <td>
            <div class="input-group">
                <input class="form-control" type="text" name="user[name]" value="<%= currentuser.name %>"></td>
            </div>
    </tr>
    <tr>
        <th>EMAIL ADDRESS/ USERNAME</th><td></td><td></td>
        <td><div class="input-group"><input class="form-control" type="email" name="user[username]" value="<%= currentuser.username %>"></td></div>
    </tr>
    <tr>
        <th>MOBILE NUMBER</th><td></td><td></td>
        <td><div class="input-group"><input class="form-control" type="number" name="user[mobile]" value="<%= currentuser.mobile %>"></div></td>
    </tr>
    <tr>
        <th>PROFILE PICTURE</th><td></td><td></td>
        <td><div class="input-group"><input class="form-control" type="text" name="user[profile]" value="<%= currentuser.profile %>"></div></td>
    </tr>
    <tr>
        <th>ADDRESS</th><td></td><td></td>
        <td><div class="input-group"><textarea class="form-control" name="user[address]" rows="3" cols="20"><%= currentuser.address %></textarea> </div></td>
    </tr>
</table>
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4"><button class="btn btn-outline-secondary btn-block btn-lg">UPDATE</button></div>
    <div class="col-md-4"></div>
</div>
</form><br><br><br><br>


<%- include ('partials/footer'); -%>