<%- include ('partials/header'); -%> 
<% var total=0; %>
<% var d= new Date(); %>
<% var f = d.setDate(d.getDate()+10); %>
<div class="container-fluid">
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-7">
          <div class="bg-white text-dark">
            <!-- <p class="h1 d-flex justify-content-center">My Cart (<%= currentuser.cart.length %>)</p><br> -->
            <div class="arpit p-3">
            <h3 class="text-secondary text-center">DELIEVERY ADDRESS&emsp;&emsp;<a href="/editprofile/place"><i class="fa fa-pencil-square-o fa-2x text-dark"></i></a></h3>
            <h4><%= currentuser.name %></h4>
            <p><%= currentuser.address %></p>
            <p><%= currentuser.mobile %></p></div>
            <% if(currentuser.cart.length >= 1) {%>
            <div class="arpit text-center p-2 h3 text-info mt-2">
              <h1>ORDER SUMMARY</h1>
              <h5>YOUR PRODUCT(S) WILL BE DELIEVERD BY <%= d.toDateString() %> </h5>
            </div>
            <% } %>
            <!-- <hr class="border border-secondary"> -->
            <% if(currentuser.cart.length<1) {%>
              <br><div class="container text-center mb-4">
              <h1 class="text-success h1 text-center">YOU HAVE NOT SELECTED ANY PRODUCT !!!</h1><br>
              <a href="/home" class="btn btn-success btn-lg text-white text-center ">SHOP NOW</a>
            </div>
            <% } %>
            <div class="arpit p-5">
            <% user.cart.forEach((product, index)=>{ %>
              <% var c=0 %>
              <% var flag=0 %>
              <% for(var i=0; i< currentuser.cart.length ; i++){ %>
                <% if(currentuser.cart[i].equals(product._id)) {%>
                 <% c=c+1; }%>
              <% } %>
            <% for(var j=index-1 ; j>=0 ; j--){ %>
             <% if(currentuser.cart[j].equals(currentuser.cart[index])){ %>
                <% flag=1 %>
              <% }} %>

            <% if(flag==0) { %>
            <div class="row bg ml-5">
              <!-- <div class="col-md-8"> -->
                <div>
                    <img src="<%= product.image %>" alt="" width="300" height="300">
                </div>
                <div class="ml-5">
                    <h3><%= product.name %></h3>
                    <h6><%= product.title %></h6>
                    <h3>Rs. <%= product.price %></h3> <br>
                    <a href="/placeorder/<%= product._id %>/remove/<%= currentuser._id %>" class="btn btn-xs btn-light rounded-circle">-</a><input type="text" class="w-25 text-center" value="<%= c %>"><a href="/placeorder/<%= product._id %>/<%= currentuser._id %>" class="btn btn-light rounded-circle">+</a>&nbsp;&nbsp;&nbsp;&nbsp;
                    
                    <a class="btn btn-lg btn-danger" href="/placeorder/remove/<%= product._id %>/<%= currentuser._id %>">REMOVE</a>
                </div>
            </div>
            <hr class="bg-dark">
            <% } %> 
            <% total = total + product.price %>
            <% }) %>
          </div>
        </div>
    </div>
        <% if(currentuser.cart.length) {%>
        <div class="col-md-3 bg-white text-dark h-25 sticky-top arpit p-3">
          <p class="h1 d-flex justify-content-center">Price Details</p>
          <hr>
          <div class="d-flex justify-content-between">
            <p class="h4 ">Product Price(<%=currentuser.cart.length %> items)</p><p class="h4 ">Rs. <%= total %></p>
          </div>
          <div class="d-flex justify-content-between">
            <p class="h4 ">Delivery Charge</p><span style="font-size: 30px;">+</span><p class="h4 ">Rs. 30</p>
          </div>
          <hr>
          <div class="d-flex justify-content-between">
            <p class="h3 ">Amount Payable</p><p class="h3 text-success">Rs. <%= total + 30 %></p>
          </div><hr>
          <a href="/method" class="btn btn-success btn-block btn-lg text-white">CONTINUE&nbsp;>>>></a>
        </div>
        <% } %>
      </div>
    </div><br><br><br><br>
    

<%- include ('partials/footer'); -%>    
    